<h1><%= @pet.name() %></h1>
<ul>
  <li><%= @pet.gender() %></li>
  <li><%= @pet.date_of_admittance() %></li>
  <li><%= @pet.type() %></li>
  <li><%= @pet.breed() %></li>
</ul>
<form action="/adopt" method="post">
  <input type="hidden" name="human_id"
</form>
