<h1> WELCOME TO WORK :) </h1>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <% @humans.each() do |human| %>
        <li><a href="/internal_customer/<%= human.id() %>"> <%= human.name() %></a></li>
      <% end %>

      <form action="/breed_sort" method="post">
        <select class="form-control" name="breed">
          <% @pets.each() do |pet| %>
            <option> <%= pet.breed() %> </option>
          <% end %>
        </select>
        <button type="submit" name="btn btn-success">Sort</button>
      </form>
    </div>
    <div class="col-sm-3">
      <a href='/chronologically'>List Pets chronologically</a>
      <% @pets.each() do |pet| %>
        <li><a href="/pets/<%= pet.id() %>"> <%= pet.name() %></a></li>
      <% end %>
    </div>
    <div class="col-sm-3">
      <form action="/add" method="post">
        <div class="form-group">
          <input id="name" name="name" placeholder="Name">
        </div>
        <div class="form-group">
          <input id="gender" name="gender" placeholder="Gender">
        </div>
        <div class="form-group">
          <input id="date_of_admittance" name="date_of_admittance" placeholder="Date of Admittance">
        </div>
        <div class="form-group">
          <input id="type" name="type" placeholder="Type">
        </div>
        <div class="form-group">
          <input id="breed" name="breed" placeholder="Breed">
        </div>
        <button type="submit" class="btn btn-danger">Add Pet</button>
      </form>
    </div>
  </div>
</div>
